@model List<ProEvoCanary.Models.EventModel>
<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">Event Name:</th>
            <th class="mdl-data-table__cell--non-numeric">Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="mdl-data-table__cell--non-numeric">
                    <a href="@Url.Action("Details", "Event", new {id = @item.EventId})">@item.Name</a>
                    Hosted By: @item.Name
                </td>
                <td>@item.Date</td>
            </tr>
        }
    </tbody>
</table>
