@model List<ProEvoCanary.Models.EventModel>
<table class="highlight responsive-table">
    <thead>
        <tr>
            <th>Event Name:</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="@Url.Action("Details", "Event", new {id = @item.EventId})">@item.Name</a>
                    <p>Hosted By: @item.Name</p>
                </td>
                <td>@item.Date</td>
            </tr>
        }
    </tbody>
</table>
