@model List<ProEvoCanary.Models.ResultsModel>
<div class="block Results">
    <h2>Results</h2>
    <ul>
        @foreach (var item in Model)
        {
            <li>
                @item.HomeTeam <a href="@Url.Action("Details","Results",new{ Id=@item.ResultID})">@item.HomeScore  -  @item.AwayScore</a>  @item.AwayTeam

            </li>
        }
    </ul>
</div>