<div class="row">
    <div class="nav-wrapper">
        <div class="col s12">
            <a href="/" class="brand-logo">Pro Evo League</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                @if (CurrentUser.Identity.IsAuthenticated)
                {
                    if (CurrentUser.IsAdmin)
                    {
                        <li><a href="@Url.Action("AdminCreate", "Authentication")" class="mdl-navigation__link">Add User</a></li>
                        <li> <a href="@Url.Action("AdminCreate", "Event")" class="mdl-navigation__link">Create Event</a></li>
                    }
                    else
                    {
                        <li><a href="@Url.Action("Create", "Event")" class="mdl-navigation__link">Create Event</a></li>
                    }
                    <li><a href="@Url.Action("SignOut", "Authentication")" class="mdl-navigation__link">Sign out</a></li>
                }
                else
                {
                    <li><a href="@Url.Action("Login", "Authentication")" class="mdl-navigation__link">Login</a></li>
                    <li><a href="@Url.Action("Create", "Authentication")" class="mdl-navigation__link">Register</a></li>
                }
                <li> <a href="@Url.Action("HeadToHead", "Records")" class="mdl-navigation__link">Records</a></li>
            </ul>
        </div>
    </div>
</div>