@using ProEvoCanary.Web.Models
@model ProEvoCanary.Web.Models.AdminEventModel
@{
    ViewBag.Title = "Create Event";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center"><small>Add Event</small></h1>
@using (Html.BeginForm("Create", "Event", FormMethod.Post))
{
    <div class="row">
        <div class="input-field col s12 m6">
            @Html.LabelFor(m => m.TournamentName)
            @Html.TextBoxFor(model => model.TournamentName, new { placeholder = "Enter Tournament name", required = "required" })
        </div>
        <div class="input-field col s12 m6">
            @Html.LabelFor(m => m.Date)
            <input id="Date" name="Date" type="date" class="datepicker" required placeholder="Enter the Tournament Date" value="@Model.Date.ToString("yyyy-MM-dd")" />
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12 m6">
            <select id="OwnerId" name="OwnerId" required="required">
                @foreach (var user in Model.Players)
                {
                    <option value="@user.PlayerId">@user.PlayerName</option>
                }
            </select>

            @Html.LabelFor(m => m.OwnerId)
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12 m6">
            @Html.GetEnumSelectList(typeof(TournamentType))
            @Html.LabelFor(m => m.TournamentType)
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12">
            <button class="btn waves-effect waves-light" type="submit" name="action">
                Submit
                <i class="material-icons right">send</i>
            </button>
        </div>
    </div>
}