@model ProEvoCanary.Web.Models.EventModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.EventName</h2>

@Model.Date

@if (Model.Results.Count > 0)
{
    <table>
        @foreach (var item in Model.Results)
        {
            <tr>
                <td>@item.HomeTeam</td>
                <td>@item.HomeScore</td>
                <td>@item.AwayScore</td>
                <td>@item.AwayTeam</td>
                @if (CurrentUser.Identity.IsAuthenticated)
                {
                    <td>@Html.ActionLink("Edit", "Update", "Results", new { id = item.ResultId }, null)</td>
                }
            </tr>
        }
    </table>
}

@if (Model.Standings.Count > 0)
{
    <table>
        <thead>
        <tr>
            <th>
                Team
            </th>
            <th>
                Position
            </th>
            <th>
                Won
            </th>
            <th>
                Draw
            </th>
            <th>
                Lost
            </th>
            <th>
                For
            </th>
            <th>
                Against
            </th>
            <th>
                Goal Difference
            </th>
            <th>
                Points
            </th>
        </tr>
        </thead>
        @for (int index = 0; index < Model.Standings.Count; index++)
        {
            var standing = Model.Standings[index];
            <tr>
                <td>
                    @standing.TeamName
                </td>
                <td>
                    @(index+1)
                </td>
                <td>
                    @standing.Won
                </td>
                <td>
                    @standing.Draw
                </td>
                <td>
                    @standing.Lost
                </td>
                <td>
                    @standing.For
                </td>
                <td>
                    @standing.Against
                </td>
                <td>
                    @standing.GoalDifference
                </td>
                <td>
                    @standing.Points
                </td>
            </tr>
        });
    </table>
}