@model List<ProEvoCanary.Web.Models.EventModel>


@foreach (var item in Model)
{
    <ul class="collection">
        <li class="collection-item avatar">
            <i class="material-icons circle green">perm_contact_calendar</i>
            <span class="title"><a href="@Url.Action("Details", "Event", new {id = @item.EventId})">@item.EventName</a></span>
            <p>
                Hosted By: @item.Name <br>
                @item.Date
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
        </li>
    </ul>
}
