@model ProEvoCanary.Models.CreateUserModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Authentication", FormMethod.Post))
{
    <div class="row">
        <div class="input-field col s12 m6">
            @Html.LabelFor(m => m.Username)
            @Html.TextBoxFor(m => m.Username, new { @placeholder = "Enter your username", autocomplete = "off" })
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12 m6">
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password, new { @placeholder = "Enter your password", autocomplete = "off" })
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12 m6">
            @Html.LabelFor(m => m.EmailAddress)

            @Html.TextBoxFor(m => m.EmailAddress, new { @placeholder = "Enter your email address" })
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12 m6">
            @Html.LabelFor(m => m.Forename)
            @Html.TextBoxFor(m => m.Forename, new { @placeholder = "Enter your forename" })
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12 m6">
            @Html.LabelFor(m => m.Surname)
            @Html.TextBoxFor(m => m.Surname, new { @placeholder = "Enter your surname" })
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <button class="btn waves-effect waves-light" type="submit" name="action">
                Submit
                <i class="material-icons right">send</i>
            </button>
        </div>
    </div>

}
