
<div class="nav-wrapper">
    <a href="#" class="brand-logo">Logo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
        @if (CurrentUser.Identity.IsAuthenticated)
            {
                if (CurrentUser.IsAdmin)
                {
                <li> <a href="@Url.Action("Index", "Default", new {area = "Admin"})" class="mdl-navigation__link">Admin</a></li>
                    <li><a href="@Url.Action("Create", "Authentication", new {area = "Admin"})" class="mdl-navigation__link">Add User</a></li>
                    <li> <a href="@Url.Action("Create", "Event", new {area = "Admin"})" class="mdl-navigation__link">Create Event</a></li>
            }
            else
            {
                <li><a href="@Url.Action("Create", "Event", new {area = ""})" class="mdl-navigation__link">Create Event</a></li>

            }
            <li><a href="@Url.Action("SignOut", "Authentication", new {area = ""})" class="mdl-navigation__link">Sign out</a></li>
        }
        else
        {
            <li><a href="@Url.Action("Login", "Authentication", new { area = "" })" class="mdl-navigation__link">Login</a></li>
                <li><a href="@Url.Action("Create", "Authentication", new { area = "" })" class="mdl-navigation__link">Register</a></li>
        }
        <li> <a href="@Url.Action("HeadToHead", "Records", new {area = ""})" class="mdl-navigation__link">Records</a></li>
    </ul>
</div>