@using ProEvoCanary.Domain.Authentication
<a href="/" class="mdl-navigation__link">Home</a>
@if (CurrentUser.Identity.IsAuthenticated)
{
    if (CurrentUser.IsAdmin)
    {
        <a href="@Url.Action("Index", "Default", new {area = "Admin"})" class="mdl-navigation__link">Admin</a>
        <a href="@Url.Action("Create", "Authentication", new {area = "Admin"})" class="mdl-navigation__link">Add User</a>
        <a href="@Url.Action("Create", "Event", new {area = "Admin"})" class="mdl-navigation__link">Create Event</a>
    }
    else
    {
        <a href="@Url.Action("Create", "Event", new {area = ""})" class="mdl-navigation__link">Create Event</a>

    }
    <a href="@Url.Action("SignOut", "Authentication", new {area = ""})" class="mdl-navigation__link">Sign out</a>
}
else
{
    <a href="@Url.Action("Login", "Authentication", new { area = "" })" class="mdl-navigation__link">Login</a>
    <a href="@Url.Action("Create", "Authentication", new { area = "" })" class="mdl-navigation__link">Register</a>
}
<a href="@Url.Action("HeadToHead", "Records", new { area = "" })" class="mdl-navigation__link">Records</a>