@model ProEvoCanary.Areas.Admin.Models.EventModel
@{
    ViewBag.Title = "Create Event";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<h1 class="text-center"><small>Add Event</small></h1>


<form action="@Url.Action("Create","Event")" method="POST" data-abide>

    <div class="row">
        <div class="large-12 columns">
            <label>
                Tournament Name
                @Html.TextBoxFor(model => model.TournamentName, new { placeholder = "Enter Tournament name", required = "required" })
            </label>
            <small class="error">Tournament Name is required</small>
        </div>
        <div class="large-12 columns">
            <label>
                Date
                @Html.TextBoxFor(model => model.Date, new { placeholder = "Enter the Tournament Date", required = "required", type = "date" })
            </label>
            <small class="error">Tournament Date is required</small>
        </div>
        <div class="large-12 columns">
            <label>
                Select Owner
                <select id="playerOne" required="required">
                    @foreach (var user in Model.Players)
                    {
                        <option value="@user.PlayerId">@user.PlayerName</option>
                    }
                </select>
            </label>
            <small class="error">Tournament Owner is required</small>
        </div>
        <div class="large-12 columns">
            <label>
                Tournament Type
                @Html.EnumDropDownListFor(model => model.EventType, "Please Select", new { required = "required", value = "" })
            </label>
            <small class="error">Tournament Type is required</small>
        </div>

        <div class="large-12 columns">

            <button type="submit">Create Event</button>
        </div>
    </div>


</form>
